.wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    perspective: 1000px;
}

.card {
    position: relative;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}

.card__back {
    height: 133px;
    border-radius: 4px;
    width: 95px;
    backface-visibility: hidden;
    transform: rotateY(0);
    transition: transform 500ms ease-in-out;
}

.card__front {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 133px;
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
    font-size: 24px;
    line-height: 24px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
    box-sizing: border-box;
}

.card__top-left,
.card__down-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.card__top-left {
    top: 5px;
    left: 6px;
}

.card__down-right {
    transform: rotate(180deg);
    align-self: end;
    bottom: 5px;
    right: 6px;
}

.card__center-suit {
    position: absolute;
}


.card .small-suit {
    display: inline-block;
    display: flex;
    width: 6px;
    height: 6px;
}

