@keyframes zoom-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



.restart-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: #ffff;
    font-size: 24px;
    font-family: "StratosSkyeng";
    background-color: #7ac100;
    cursor: pointer;
}

ul { 
    list-style-type: none;
}

.time {
    &-form {
        display: flex;
    }
    font-family: "StratosSkyeng";
    color: #ffff;
    margin-left: 40px;
}

.timer {
    font-family: "StratosSkyeng";
    color: #ffff;
    font-size: 64px;
}

.details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.cards,
.card,
.view,
.details,
p {
    align-items: center;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
}
