/* stylelint-disable declaration-block-no-shorthand-property-overrides */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable no-duplicate-selectors */
@charset "UTF-8";

.restart-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    font-family: StratosSkyeng;
    background-color: #7ac100;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.time {
    font-family: StratosSkyeng;
    color: white;
    margin-left: 40px;
}

.time-form {
    display: flex;
}

.timer {
    font-family: StratosSkyeng;
    color: white;
    font-size: 64px;
}

.details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.cards,
.card,
.view,
.details,
p {
    align-items: center;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
}

.cards .card {
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;

    /* поиск шрифта локально */
    src: local('StratosSkyeng'),
        url('/fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('/fonts/stratosskyengweb-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.center {
    padding: 22px calc(50% - 490px) 22px calc(50% - 490px);
}

.body-box {
    background-color: hsl(216deg 96% 20% / 99.2%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_game-box {
    background-color: hsl(216deg 96% 20% / 99.2%);
    height: 100vh;
}

.container {
    display: inline-block;
    justify-content: center;
    width: 480px;
    background-color: #c2f5ff;
    height: 459px;
    border-radius: 12px;
}

.difficult__values {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.difficult__btn {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.difficult__items-block {
    display: flex;
    justify-content: center;
}

.difficult__values-buttons {
    background-color: #0080c1;
    height: 96px;
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    font-size: 48px;
    line-height: 72px;
    color: #0080c1;
    font-family: StratosSkyeng;
}

.difficult__values-buttons:active {
    background-color: #004980;
}

.value {
    font-size: 48px;
    line-height: 72px;
    color: #0080c1;
}

.dif-header {
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 52px;
    margin-bottom: 48px;
    margin-left: 136px;
    margin-right: 136px;
    font-family: StratosSkyeng;
}

.button-container {
    display: flex;
    justify-content: center;
}

.back-to-btn {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    font-family: StratosSkyeng;
    background-color: #7ac100;
    cursor: pointer;
    margin-left: 140px;
}

.start-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    font-family: StratosSkyeng;
    background-color: #7ac100;
    cursor: pointer;
}

.value {
    position: absolute;
    top: 323px;
    display: none;
    font-family: StratosSkyeng;
}

.r-group:hover {
    background: #06467a;
}

.wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
} /*# sourceMappingURL=styles.css.map */
