@import 'game-levels';

@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    /* поиск шрифта локально */
    src: local("StratosSkyeng"),
        /* загрузка woff2 */ url("/fonts/stratosskyengweb-regular.woff2")
            format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
            url("/fonts/stratosskyengweb-regular.woff") format("woff");
}

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.body-box {
    background-color: hsla(216, 96%, 20%, 0.992);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_game-box {
    background-color: hsla(216, 96%, 20%, 0.992);
    height: 100vh;
}

.container {
    display: inline-block;
    justify-content: center;
    width: 480px;
    background-color: #c2f5ff;
    height: 459px;
    border-radius: 12px;
}

.difficult {
    &__values {
        display: flex;
        justify-content: center;
        gap: 26px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 56px;
    }

    &__items-block {
        display: flex;
        justify-content: center;
    }

    &__values-buttons {
        background-color: #0080c1;
        height: 96px;
        width: 98px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: #ffff;
        cursor: pointer;
        font-size: 48px;
        line-height: 72px;
        color: #0080c1;
        font-family: "StratosSkyeng";
        &:active {
            background-color: #004980;
        }
    }
}

.value {
    font-size: 48px;
    line-height: 72px;
    color: #0080c1;
}

.dif-header {
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 52px;
    margin-bottom: 48px;
    margin-left: 136px;
    margin-right: 136px;
    font-family: "StratosSkyeng";
}

.button-container {
    display: flex;
    justify-content: center;
}

.back-to-btn {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: #ffff;
    font-size: 24px;
    font-family: "StratosSkyeng";
    background-color: #7ac100;
    cursor: pointer;
    margin-left: 140px;
}

.start-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    color: #ffff;
    font-size: 24px;
    font-family: "StratosSkyeng";
    background-color: #7ac100;
    cursor: pointer;
}

.value {
    position: absolute;
    top: 323px;
    display: none;
    font-family: "StratosSkyeng";
}

.r-group:hover {
    background: #06467a;
}

